body{
    margin: 0px;
    
}
div.test{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: white;
    align-items: center;
    justify-content: center;
}